<div class="row">
  <h1 class="col-md-6">
    Список фильмов
  </h1>
  <div class="col-md-5">
    <button class="btn badge-primary" (click)="toggleFilms()">
      Показать/Скрыть фильтра
    </button>
  </div>
  <div *ngIf="!toggle; else filmFilterForm"></div>
  <div class="row">
    <div *ngFor="let film of films" class="col-sm-6 col-md-4 col-lg-3">
      <app-film [film]="film" [mainPage]="true" [buttonValue]="'Забронировать место'"></app-film>
    </div>
  </div>
</div>

<ng-template #filmFilterForm>
  <div class="col-md-12">
    <hr/>
  </div>
  <div class="col-sm-3 col-lg-2">
    <input id="timeFrom" class="form-control" type="time">
  </div>
  <div class="col-sm-3 col-lg-2">
    <input id="timeTo" class="form-control" type="time">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-4">
    <input id="title" class="form-control" type="search" placeholder="Поиск по названию фильма" aria-label="Search">
  </div>
  <div class="col-md-12 col-lg-4">
    <button class="col-sm-6 btn badge-primary">Найти</button>
    <div class="col-sm-6 btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn" (click)="pageDown()">&laquo;</button>
      <span class="btn">{{ currentPage + 1 }}</span>
      <button type="button" class="btn" (click)="pageUp()">&raquo;</button>
    </div>
  </div>
  <div class="col-md-12">
    <hr/>
  </div>
</ng-template>
