<div class="row justify-content-left">
  <h1 class="ml-3">Список фильмов</h1>
</div>

<hr />
<div class="row justify-content-center">
  <label class="sr-only" for="inlineFormInput">Название фильма</label>
  <input type="title" class="form-control mb-3 mr-1 ml-1 col-sm-6 col-md-4" id="inlineFormInput" placeholder="Название фильма"disabled>
  <input type="time" class="form-control col-sm-2 ml-1 mr-1 mb-3" min="00:00" max="02:00" disabled>
  <button type="submit" class="form-control btn btn-primary ml-1 col-sm-2" disabled>Найти</button>
</div>
<hr />

<div class="row justify-content-center">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn" (click)="pageDown()">&laquo;</button>
    <span class="btn">Страница {{ page_number + 1 }} из {{ total_pages + 1 }}</span>
    <button type="button" class="btn" (click)="pageUp()">&raquo;</button>
  </div>
</div>

<div class="mt-3 row justify-content-center">
  <div *ngFor="let film of films" class="col-md-5 col-lg-4">
    <app-film [film]="film" [mainPage]="true" [buttonValue]="'Забронировать место'"></app-film>
  </div>
</div>